body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: '20px';
  row-gap: 20px;
  padding: 10px;
}

.flex-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: '20px';
  row-gap: 20px;
  padding: 10px;
  /* margin-left: 25%; */
  /* width: 50%; */
  /* left: auto; */
}

.textArea {
  word-wrap: break-word;
  margin: 40px;
  border: 1px solid black;
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 80px;
  min-height: 40px;
}

input:focus {
  outline: none !important;
  border: 1px solid blue;
  box-shadow: 0 0 5px #719ece;
}

button {
  margin-bottom: 40px;
}

.form {
  background-color: burlywood;
  border-radius: 5%;
}

button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  border-color: black;
}

.border {
  border: 2px solid blue;
  padding: 10px;
}

.flex2 {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.father {
  color: blue;
}

.keywordList {
  color: green;
}
